/* Theme Colors */
.text-theme {
  color: #583b92 !important;
}
.text-theme:hover {
  color: #9073b7 !important;
  transform: scale(1.1);
}

/* Animated Search Bar */
.search-bar {
  transition: all 0.3s ease-in-out;
  width: 200px;
  display: flex;
  align-items: center;
}
.search-bar.expanded {
  width: 300px;
}
.search-input {
  border: 2px solid #9073b7;
  transition: width 0.3s ease-in-out;
}
.search-btn {
  border: 2px solid #280951 !important;
  background-color: transparent;
  padding: 5px 10px;
  transition: transform 0.2s ease-in-out;
}
.search-btn:hover {
  transform: scale(1.2);
}
.search-icon {
  width: 25px; /* Increased size */
  height: 25px;
}

/* Notification Button */
.animate-button {
  border-radius: 50%;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}
